@font-face {
  font-family: "SketchitMeansSketchit";
  src: url("./../../../../resources/font/SketchitMeansSketchit-85o2.ttf") format("truetype");
}

.inputs {
  font-family: SketchitMeansSketchit, serif;
  font-size: 300%;
  display: flex;
  flex-direction: column;
  margin: 5% 25% 0 25%;

  label {
    margin-top: 10%;
  }

  input {
    margin-top: 10px;
    height: 50px;
    font-size: 80%;
    border-radius: 13px;
  }
}

.buttonContainer {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  div {
    margin-left: 5%;
    margin-right: 5%;
  }
}
