.tableRow {
  background-color: rgba(#000000, 0);
  padding: 20px 30px 20px 30px;

  &:hover {
    //background-color: rgba( #000000, .01);
    border-radius: 13px;
    box-shadow: 5px 5px 15px black;
    //-1px 1px 5px black,
    // 1px -1px 5px black,
    //-1px -1px 5px black;
  }
}

.imageIcon {
  width: 40px;
  height: 40px;
  margin: auto 10px auto 50px;
}

.deleteIcon {
  width: 15px;
  height: 15px;
  position: relative;
  top: -30px;
  left: 0;
}
