@font-face {
  font-family: "SketchitMeansSketchit";
  src: url("./../../../../resources/font/SketchitMeansSketchit-85o2.ttf") format("truetype");
}

.summery{
  font-family: SketchitMeansSketchit, serif;
  color: white;
  font-size: 200%;
  width: fit-content;
  margin: 0 auto;
}
