.BackDrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#000000, .5);
  z-index: 1000;
}

.Panel {
  position: fixed;
  width: 35%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //background-color: white;
  background-image: url("../../../resources/textures/0.jpg");
  background-size: cover;
  z-index: 1000;
}
