$img1: url("./../../resources/background/1.jpg");
$img2: url("./../../resources/background/2.jpg");
$img3: url("./../../resources/background/3.jpg");
$img4: url("./../../resources/background/4.jpg");


body{
  background-image: $img1;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow: hidden;
}
